*{
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #898200; /* For browsers that do not support gradients */
    background-image: linear-gradient(to bottom right, #898200, black);
    background-attachment: fixed;

}

.nav-text-style-white{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 13px;
}

.nav-text-style-half-white{
    color: rgba(255, 255, 255, .5);
    font-weight: bold;
    font-size: 13px;
}

.nav-text-style{
    color: rgba(255, 255, 255, 0.5);
    font-weight: bold;
    font-size: 13px;
}

.nav-text-style:hover{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    cursor: pointer;
}

/****SIDEBAR****/

.sidebar{
    width: 100px;
    height: calc(100vh - 70px);
    background-color: #181601;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-sidebar{
    padding-top: 25px;
}

.logo-container{
    width: 40px;
    height: 35px;
    background-image:url("https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_White.png");
    background-size: cover;
    margin: 0 auto;
}

.logo-container:hover{
    cursor: pointer;
}

.nav-side{
    padding-top: 20px;
}

.nav-side-menu-items{
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
}

.nav-side-menu-items:hover{
    border-left: 5px solid #26d362;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.nav-side i{
    padding: 0 40px;
    transform: scale(2);
}

.nav-side-menu-items>a{
    visibility: hidden;
}

.recenti{
    padding: 20px 15px;
    display: none;
}

.recenti>a{
    padding: 5px 0;
}

.bottom-sidebar{
    width: 100%;
}

.bottom-sidebar>div{
    padding: 5px 0;
    margin: 0 10px;
}
.install-app{
    border-bottom: 2px solid gray;
    color: rgba(255, 255, 255, 0.5);
}
.install-app:hover{
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.bottom-sidebar i{
        padding: 0 40px;
        transform: scale(2);
        position: relative;
        right: 8px;
        top: 7px;
}

.bottom-sidebar a{
    visibility: hidden;
}

.account>a,
.account{
    color: rgba(255, 255, 255, 1);
}

.account:hover{
    cursor: pointer;
}

/****PLAYER****/

.player{
    width: 100%;
    height: 70px;
    background-color: #282828;
    position: absolute;
    top: calc(100vh - 70px);
    left:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

/* .song-info,
.play-pause,
.settings{
    border: 2px solid;
} */

.footer-left{
    width: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-left .song-info-items:first-child{
    width: 50px;
    height: 50px;
}

.footer-left .song-info-items:nth-child(2){
    height: 50px;
    display: none;
}

.song-info-items img{
    width: 50px;
}

.song-info-items i{
    color: white;
    padding-left: 15px;
}

.song-info-items i:hover{
    font-weight: bold;
    cursor: pointer;
}


.footer-center{
    width: 300px;
    padding: 0 10px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: white;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.footer-right{
    width: 200px;
}

.footer-center{
    height: 100%;
}
.play-pause-top{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

.play-pause-top>i{
    transform: scale(1.5);
}

.play-pause-bottom{
    height: 50%;
    width: 100%;
    display: flex;
    align-items:center;
    position: relative;
}

.play-pause-bottom>.current-time,
.play-pause-bottom>.total-time{
    display: inline-block;
    padding: 0 5px;
}

.play-pause-bottom>.progress-bar{
    height: 3px;
    width: calc(100% - 70px);
    background-color: rgba(255,255,255,.5);
    display: inline-block;
    margin: 0 10px;
}

/* .progress-bar::after{
    content: "";
    position: absolute;
    top: 12px;
    left: 100px;
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
} */

.footer-right{
    display: none;
    position: relative;
}

.burger-menu-player{
    padding: 10px;
    display: inline-block;
}

.burger-menu-player>span{
    display: block;
    background-color: rgba(255,255,255,.5);
    height: 2px;
    width: 15px;
    margin: 2px 0;
}

.burger-menu-player:hover span{
    background-color: rgba(255,255,255,1);

}
.burger-menu-player:hover{
    cursor: pointer;
}

.display{
    display: inline-block;
    position: relative;
    top: -2px;
}

.display:hover i{
    color: white;
    cursor: pointer;
}

.volume{
    display: inline-block;
    position: relative;
    top: -3px;
    left: 10px;
}

.volume:hover i{
    color: white;
    cursor: pointer;
}

.slider-vol {
  -webkit-appearance: none;
  width: 50%;
  height: 3px;
  border-radius: 3px;
  background: white;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  top: -4px;
}

.slider-vol:hover {
  opacity: 1;
}

.slider-vol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.slider-vol::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}


/*****CONTENITORE*****/
.contenitore{
    /* width: 100%; */
    height: calc(100vh - 70px);
    margin: 0 auto;
    margin-left: 100px;
}

/**NAV**/
nav{
    margin: 0 auto;
    padding-top: 10px;
}

ul{
    list-style-type: none;
    justify-content: space-around;
    display: none;
}

li{
    display: inline-block;
    width: 0 auto;
    text-align: center;
}

li>a{
    padding: 0 5px;
    padding-top: 5px;
    display: block;
}

li::after{
    content: '';
    width: 25px;
    height: 2px;
    background-color: #26d362;
    display: inline-block;
    position: relative;
    top: -10px;
    visibility: hidden;
}

li:hover:after{
    border-bottom: solid 2px #26d362;
    visibility: visible;
}

nav>.burger-menu-nav{
    margin-left: 10px;
    padding: 10px;
    display: inline-block;
}

nav>.burger-menu-nav>span{
    display: block;
    background-color: rgba(255,255,255,.5);
    height: 3px;
    width: 20px;
    margin: 3px 0;
}

.burger-menu-nav:hover span{
    background-color: rgba(255,255,255,1);
    cursor: pointer;
}

.burger-menu-nav:hover{
    cursor: pointer;
}

/****MAIN***/
.contenitore{
    padding-bottom: 500px;
}

.contenitore h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-top: 35px;
    padding-bottom: 10px;
}

main{
    padding: 0 20px;
    padding-bottom: 100px;
}



.artist-contain{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.artist{
    width: 140px;
    /* max-width: 150px;
    min-width: 50px; */
    text-align: center;
    padding: 10px;
}

.artist:hover{
    cursor: pointer;
}

.artist:hover img{
    transform: scale(1.1);
}

.artist>img{
    width: 100%;
    margin-bottom: 10px;
}

.custom,
.playlist{
    max-width: 850px;
    margin: 0 auto;
}

/********************************/
/**********MEDIA QUERY***********/
/********************************/


/*SMALL*/     /***TABLET***/
@media all and (min-width: 576px){

    /****SIDEBAR****/

    .sidebar{
        width: 200px;
    }

    .logo-container{
        width: 115px;
        background-size: contain;
        margin-left: 35px;
    }

    .recenti{
        display: block;
    }
    .bottom-sidebar a,
    .nav-side-menu-items>a{
        visibility: visible;
    }

    .bottom-sidebar i,
    .nav-side i{
        padding: 0 15px;
        transform: scale(1);
    }

    .bottom-sidebar i{
            position: static;
    }



/***PLAYER***/
    .footer-right{
        display: flex;
        align-items: center;
    }

    .contenitore{
        margin-left: 200px;
    }


}

/*MEDIUM*/
@media all and (min-width: 768px) {

}

/*LARGE*/    /***DESKTOP***/
@media all and (min-width: 992px){

/***PLAYER***/
    .footer-left{
        width: 250px;
    }

    .footer-left .song-info-items:nth-child(2){
        display: inline-block;
    }

    .song-info-items i{
        padding-left: 0px;
    }

    nav{
        width: 700px;
    }

    nav>ul{
        display: flex;
    }

    nav>.burger-menu-nav{
        display: none;
    }
}

/*VERY LARGE*/
@media all and (min-width: 1200px){

}
